<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seesea.job.mapper.BossCityInfoMapper">
  <resultMap id="BaseResultMap" type="com.seesea.job.entity.BossCityInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="primary_key" jdbcType="INTEGER" property="primaryKey" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="province_key" jdbcType="INTEGER" property="provinceKey" />
  </resultMap>
</mapper>