<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seesea.job.mapper.ZhihuMapper">
  <resultMap id="BaseResultMap" type="com.seesea.job.entity.Zhihu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="autoincrement" jdbcType="INTEGER" property="autoincrement" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="answers_url" jdbcType="VARCHAR" property="answersUrl" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="url_token" jdbcType="VARCHAR" property="urlToken" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="headline" jdbcType="VARCHAR" property="headline" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>